.home-topbar {
  z-index: 1;
}

.home-sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 15rem;
  height: 100%;
  background-color: #f4f4f4;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.home-sidebar.open {
  left: 0;
}

.map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Fill the remaining width */
  height: 100%; /* Fill the entire height */
  z-index: -1; /* Ensure the map is behind the sidebar */
}

.sidebar-dim {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  background-color: black;
}

.sidebar-dim.open {
  opacity: 0.5;
  display: block;
  transition: all 1s ease-in-out;
}

.home-bindetail {
  position: fixed;
  bottom: -100%;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.home-bindetail.open .bin-detail-overlay,
.home-bindetail.open {
  display: block;
  bottom: -5%;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

/* If it works, don't touch it. */